@CHARSET "ISO-8859-1";

div.footer-para {
	text-align: justify;
	margin: 20px 150px 20px 150px;
	font-size: 10px;
}

footer {
	position: fixed;
	bottom: 0;
	height:230px;
	background-color: #555;
	color: white;
	padding: 15px;
}