.navbar-bottom{
    padding:0 0 120px 0;
    background-color: #e0d6dc;
    min-height: 20px;
    margin-bottom:0px;
    background-color: #28364f;
    padding-top: 35px;
    color:#FFFFFF;"
}



/* @keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

Chrome, Safari, Opera
@-webkit-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0;}
} */

body { 
	background-image: url(../images/car-background.jpg);
	background-position: 0px 0px;
	background-repeat: no-repeat;
    background-size: cover; 
	animation: animatedBackground 30s linear infinite;
	-webkit-animation:animatedBackground 30s linear infinite; /* Chrome, Safari, Opera */
}



